version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: gomod
    directory: /internal/tools
    schedule:
      interval: weekly
