name: windows
env:
  go_versions: '["1.20.x","1.21.x","1.22.x"]'
on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
    branches: [main]
  schedule:
    - cron: '15 22 * * *'
  workflow_dispatch: {} # support manual runs
permissions:
  contents: read
jobs:
  ci:
    runs-on: windows-latest
    strategy:
      matrix:
        go-version: ${{ fromJSON(vars.go_versions) }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Test
        shell: bash
        run: |
          go build ./...
          go test -vet=off -race ./...
